:root {
  --text-color-gray: #757575;
  --text-color-black: #212121;
  --accent-link-color: #2196f3;
  --white: #ffffff;
  --primary-background: #e5e5e5;
  --secondary-background: #f5f4fa;
  --icon-gray: #afb1b8;

  --time: 250ms;
  --time-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* #188ce8 цвет фона кнопки Героя*/
/* #E5E5E5 первичный цвет фона*/
/* #F5F4FA вторичный цвет фона*/

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

h2,
h3 {
  color: var(--text-color-black);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--text-color-gray);
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
}

.section {
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.join-title {
  display: block;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  transition: var(--time) var(--time-function);
}

/* Компоненты*/

/*Logo*/
.logo {
  color: var(--accent-link-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo__sign {
  color: #000000;
}
/*Лого в хедере*/
.logo--top {
  margin-right: 93px;
}

/*Лого в футере*/
.logo--bottom {
  display: block;
  margin-bottom: 20px;
}

.logo__sign--white {
  color: var(--white);
}

/*Основная навигация сайта*/

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-color-black);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-link-color);
}
.site-nav__link--current {
  position: relative;
  color: var(--accent-link-color);
}

.site-nav__link--current::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0;
  margin-bottom: -1px;
  border-radius: 2px;
  background-color: var(--accent-link-color);
}

/*Кнопки*/

.button {
  min-width: 200px;
  height: 50px;
  padding: 0;
  border: transparent;
  border-radius: 4px;
  color: var(--white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: var(--accent-link-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color var(--time) var(--time-function);
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

/*Кнопка модалки*/

.button--modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

/* Кнопка подписи в Футере*/
.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribe-button__text {
  margin-right: 10px;
}

/*Кнопка закрытия модалки*/

.button-close {
  width: 30px;
  height: 30px;
  margin-left: auto;
  padding: 6px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white);
  transition: var(--time) var(--time-function);
}

.button-close:hover {
  fill: var(--accent-link-color);
  transform: scale(1.1);
}

/*Блок отбора (кнопки отбора Портфолио)*/

.selection-list {
  justify-content: center;
  margin-bottom: 50px;
}

.selection-list__item:not(:last-child) {
  margin-right: 8px;
}

.selection-list__button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;

  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--text-color-black);
  background-color: var(--secondary-background);
  border-radius: 4px;
  border: transparent;

  transition: color var(--time) var(--time-function), background-color var(--time) var(--time-function);
}

.selection-list__button:hover,
.selection-list__button:focus {
  color: var(--white);
  background-color: var(--accent-link-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*Контактные Адреса*/

/*Адреса Навигации*/

.address-nav {
  margin-left: auto;
  display: flex;
  align-content: center;
}

.address-nav__link {
  display: inline-flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  font-style: normal;
  color: var(--text-color-gray);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.address-nav__link:not(:last-child) {
  margin-right: 30px;
}

.address-nav__icon {
  margin-right: 10px;
  fill: var(--text-color-gray);

  transition: fill var(--time) var(--time-function);
}

.address-nav__link:hover,
.address-nav__link:focus {
  color: var(--accent-link-color);
}

.address-nav__link:hover .address-nav__icon,
.address-nav__link:focus .address-nav__icon {
  fill: var(--accent-link-color);
}

/*Адреса в Футере*/
.footer-contacts-container {
  width: calc((100% - 30px * 3) / 4);
}

.address-footer {
  display: flex;
  flex-direction: column;
}

.location-address {
  margin-bottom: 10px;
  font-style: normal;
  line-height: 1.71;
  color: #ffffff;
}

.address-footer__link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

.address-footer__link:hover,
.address-footer__link:focus {
  color: var(--accent-link-color);
}

.address-footer__link--mail {
  margin-bottom: 10px;
}

/*Формы/
/*Форма основной мадалки*/

/*Модалка*/

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%) scale(1);
  transition: var(--time) var(--time-function);

  width: 528px;
  height: 581px;
  padding-top: 8px;
  padding-right: 8px;
  justify-content: flex-end;
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.form-modal {
  width: 448px;
  margin-right: auto;
  margin-left: auto;
}

.form-modal__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--text-color-black);
}

.form-modal__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.form-modal__lable {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--text-color-gray);
}

.form-modal__input {
  width: 100%;
  height: 40px;
  padding: 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: var(--time) var(--time-function);
}

.form-modal__input:focus {
  outline: transparent;
  border: 1px solid var(--accent-link-color);
}

.form-modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;

  transform: translateY(-50%);
  transition: var(--time) var(--time-function);
}

.form-modal__input:focus + .form-modal__icon {
  fill: var(--accent-link-color);
}

.form-modal__comment {
  resize: none;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: var(--time) var(--time-function);
}

.form-modal__comment::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-modal__comment:focus {
  outline: transparent;
  border: 1px solid var(--accent-link-color);
}

/*Форма подписки в футере*/

.subscribe-container {
  width: calc((100% - 30px) / 2);
}

.subscribe-form {
  display: flex;
  align-items: center;
}

.subscribe-form__field {
  margin: 0;
  padding: 0;
}

.subscribe-form__input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding: 15px 16px;
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: transparent;
}

.subscribe-form__input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;

  color: rgba(255, 255, 255, 0.6);
}

/*Чекбокс*/

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox__icon {
  display: inline-block;
  margin-right: 7px;
  padding-left: 12px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--text-color-black);
  border-radius: 2px;
}

.checkbox:checked + .checkbox__icon {
  border-radius: 2px;
  border-color: var(--accent-link-color);
  background-color: var(--accent-link-color);
  background-image: url(../images/svg/icon-check.svg);
  background-origin: border-box;
}

.checkbox__text {
  line-height: 1.71px;
}

.checkbox__link {
  line-height: 1.71;
  text-decoration-line: underline;
  color: var(--accent-link-color);
}

/*Социальные иконки*/

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-links__item:not(:last-child) {
  margin-right: 10px;
}

.social-links__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
}

.social-links__icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-gray);
  transition: fill var(--time) var(--time-function);
}

.social-links__link:hover .social-links__icon,
.social-links__link:focus .social-links__icon {
  fill: var(--white);
}

.social-links__link:hover,
.social-links__link:focus {
  background-color: var(--accent-link-color);
}

/* Социальные иконки - темная тема в Футере*/
.join-container {
  width: calc((100% - 30px * 3) / 4);
}

.social-links--dark {
  justify-content: start;
}

.social-links__link--dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-links__icon--dark {
  fill: var(--white);
}

/*Бекдроп*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: var(--time) var(--time-function);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

/*Шапка навигации*/

.header {
  padding: 0;
  background-color: var(--white);
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

/*Навигация*/

.navigation {
  display: flex;
  align-items: center;
}

/*Hero*/
.hero {
  height: 600px;
  padding: 200px 0px;
  background: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg), #c4c4c4;
  background-position: center;
  text-align: center;
}

.hero-container {
  max-width: 695px;
  margin-right: auto;
  margin-left: auto;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}

/*Наши особенности*/

.features-list__item {
  width: calc((100% - 30px * 3) / 4);
}

.features-list__item:not(:nth-child(4n + 1)) {
  margin-left: 30px;
}

.features-list__item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 10px;
}

.features-list__item::before {
  content: "";
  display: inline-block;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;

  background-repeat: no-repeat;
  background-position: center;
}

.features-list__item--attention::before {
  background-image: url(../images/svg/antenna.svg);
}

.features-list__item--punctuality::before {
  background-image: url(../images/svg/clock.svg);
}

.features-list__item--planning::before {
  background-image: url(../images/svg/diagram.svg);
}

.features-list__item--technology::before {
  background-image: url(../images/svg/astronaut.svg);
}

.features-list__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list__text {
  line-height: 1.71;
  margin: 0;
}

/*Что мы делаем*/

.activity {
  padding-top: 0;
  text-align: center;
}

.activity__list {
  font-size: 0;
}

.activity__item {
  position: relative;
  width: calc((100% - 30px * 2) / 3);
}

.activity__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.activity__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 10px;
}

.activity__text {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;

  background-color: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  color: var(--white);
  text-transform: uppercase;
}

/*Наша команда*/

.staff {
  background-color: var(--secondary-background);
}

.staff-list {
  text-align: center;
}

.staff-list__item {
  width: calc((100% - 30px * 3) / 4);
  padding-bottom: 30px;
  background: #ffffff;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.staff-list__item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.staff-list__item:not(:nth-last-child(-n + 4)) {
  margin-bottom: 10px;
}

.staff-list__img {
  margin-bottom: 30px;
}
.staff-list__title {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.staff-list__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
}

/*Постоянные клиенты*/

.customers-list {
  display: flex;
  flex-wrap: wrap;
}

.customers-list__item {
  width: calc((100% - 30px * 5) / 6);
  height: 90px;
}

.customers-list__item:not(:last-child) {
  margin-right: 30px;
}
.customers-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.customers-list__link:hover,
.customers-list__link:focus {
  border-color: var(--accent-link-color);
}

.customers-list__icon {
  fill: var(--icon-gray);
}

.customers-list__link .customers-list__icon {
  transition: fill var(--time) var(--time-function);
}

.customers-list__link:hover .customers-list__icon,
.customers-list__link:focus .customers-list__icon {
  fill: var(--accent-link-color);
}

/*Футер*/
.footer {
  background: #2f303a;
}

.footer-wraper {
  align-items: baseline;
  justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 50px;
}

/*Портфолио*/

/*Портфолио*/

.projects-list__item {
  width: calc((100% - 30px * 2) / 3);
  background: var(--white);
}

.projects-list__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.projects-list__item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.projects-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__thumb {
  position: relative;
  overflow: hidden;
}

.projects-list__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform var(--time) var(--time-function);
}

.projects-list__item:hover .projects-list__overlay {
  transform: translatey(0%);
}

.projects-list__text {
  margin: 0;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--white);
}

.projects-list__content {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects-list__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-list__label {
  margin: 0;

  font-size: 16px;
  line-height: 1.87;
  color: var(--text-color-gray);
}
